<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <title>smartList</title>
    <!--External CSS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.scss" type="text/scss"/>
  </head>
<body>
   <!-- App title section -->
   <div class="row m-1 p-4">
    <div class="col">
        <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
            <!-- <i class="fa fa-check bg-primary text-white rounded p-2"></i> -->
            <u>SmartList</u>
        </div>
    </div>
</div>
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
  <!-- Create todo section -->
  <div class="row m-1 p-3">
      <div class="col col-11 mx-auto">
          <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
              <div class="col">
                <form method="POST" action="users/<%= userTodoLists[0].user_id %>/new">
                  <input name="todolist" class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new ..">
              </div>
              <div class="col-auto px-0 mx-0 mr-2">
                  <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </div>
      </div>
  </div>
  <div class="p-2 mx-4 border-black-25 border-bottom"></div>
  <!-- View options section -->
  <div class="row m-1 p-3 px-5 justify-content-end">
      <!-- <div class="col-auto d-flex align-items-center"> -->
          <!-- <label class="text-secondary my-2 pr-2 view-opt-label">Filter</label>
          <select class="custom-select custom-select-sm btn my-2"> -->
            <button type="submit" class="btn btn-primary">ALL</button>
            <button type="submit" class="btn btn-primary">EAT</button>
            <button type="submit" class="btn btn-primary">READ</button>
            <button type="submit" class="btn btn-primary">WATCH</button>
            <button type="submit" class="btn btn-primary">SHOP</button>
              <!-- <option value="all">ALL</option>
              <option value="eat">TO EAT</option>
              <option value="read">TO READ</option>
              <option value="watch">TO WATCH</option>
              <option value="shop">TO SHOP</option> -->
          <!-- </select>
      </div> -->
      </div>
  </div>
  <!-- Todo list section -->
  <div class="row mx-1 px-5 pb-3 w-80">
      <div class="col mx-auto">
        <div>
          <section class = "lists-body">
            <ol>
              <li>
                <% for(let userTodoList of userTodoLists) { %>
                  <form action="users/<%= userTodoList.user_id %>/todolist/<%= userTodoList.todolist_id %>?_method=DELETE" method="POST">
                    <input type ="checkbox" id= "<%=userTodoList.id %>" name ="<%=userTodoList.id %>" class = "checkbox">
                    <label for="<%=userTodoList.id %>"> <%=userTodoList.user_id %></label>
                    <label for="<%=userTodoList.id %>"> <%=userTodoList.user_input %></label>
                    <input type="submit" value="delete">
                  </form>
                  <form action="" method="POST" class="">
                    <label for="<%=userTodoList.type %>"><%=userTodoList.type %></label>
                    <input type= "submit" name="userTodoList.type" value="change category">
                  </form>
                  <% } %>
                </li>
              </ol>
            </section>
          </div>
        </div>
      </div>

  <script type="./routes/users.js"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
</body>
</html>
