<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <title>smartList</title>
    <!--External CSS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  </head>

<body>
  //TODO: move the inline style to css file
  //TODO: make the text and the category in the same line for each todolist
  //TODO: change the style of buttons in todolist
  //TODO: show the user name on the page instead of login button in the header
  //TODO: style the page as pretty as we can
  <nav class="navbar navbar-light justify-content-between" style="margin-top: 38px;">
    <a class="navbar-brand">SmartList</a>
    <div>
      <button type="button" class="btn btn-outline-dark">LOG IN</button>
      <button type="button" class="btn btn-dark">START FREE</button>
    </div>
  </nav>
  </div>
    <div class="text-center" style="margin-top: 100px;">
     <form method="POST" action="users/<%= userTodoLists[0].user_id %>/new">
        <input name="todolist" class="justify-content-center" type="text" placeholder="Something you'd like to add"
          style="width: 450px;margin: 1em;padding-top: 0.5;height: 60.99306px;">

        <button type="submit" class="btn btn-warning btn-lg">Add</button>
      </form>
    </div>

    <div>
      <h1>Things to do</h1>
      <section class = "lists-body">
        <ol>
          <li>
            <% for(let userTodoList of userTodoLists) { %>
              <form action="/users/<%= userTodoList.user_id %>/todolist/<%= userTodoList.todolist_id %>?_method=DELETE" method="POST" class="">
                <input type ="checkbox" id= "<%=userTodoList.id %>" name ="<%=userTodoList.id %>" class = "checkbox">
                <label for="<%=userTodoList.id %>"> <%=userTodoList.user_id %></label>
                <label for="<%=userTodoList.id %>"> <%=userTodoList.user_input %></label>
                <button >delete</button>
              </form>
              <form action="" method="POST" class="">
                <label for="<%=userTodoList.type %>"><%=userTodoList.type %></label>
                <input type= "submit" name="userTodoList.type" value="change category">
              </form>
              <% } %>
            </li>
          </ol>
        </section>
      </div>
  <div class="grid">
    <div><img src="/images/HarryPotterBooks.png" alt="HarryPotterBook"></div>
    <div><img src="/images/HarryPotterBooks.png" alt="HarryPotterBook"></div>
    <div><img src="/images/HarryPotterBooks.png" alt="HarryPotterBook"></div>
    <div><img src="/images/HarryPotterBooks.png" alt="HarryPotterBook"></div>
  </div>

    <script type="./routes/users.js"></script>
  <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html
