<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Information -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>smartList</title>
  <!--External CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- External JS
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
</head>

<body class="all-background">
  <div>
    <nav id="container" class="navbar navbar-light justify-content-between">
      <a class="navbar-brand">SmartList</a>
      <span id="nav-buttons">
        <button type="button" class="btn btn-binary sortCategory">ALL</button>
        <button type="button" class="btn btn-binary sortCategory">TO EAT</button>
        <button type="button" class="btn btn-binary sortCategory">TO READ</button>
        <button type="button" class="btn btn-binary sortCategory">TO WATCH</button>
        <button type="button" class="btn btn-binary sortCategory">TO SHOP</button>
      </span>
      <a class="welcome">Welcome Labber~!</a>
    </nav>
  </div>
  <div class="grid-container">
    <div class="header">
      <header>
        <div>
          <form method="POST" action="users/<%= user.user_id %>/new" class="addNewTodo">
            <input name="todolist" id="todolist" class="justify-content-center" type="text"
              placeholder="Something you'd like to add">
            <button type="submit" class="btn btn-warning btn-lg">Add</button>
          </form>
        </div>
        <div class="error-message">
          <p id="error-message-empty">empty! please say something</p>
        </div>

      </header>
    </div>
    <div class="left"></div>
    <div class="middle">
      <h2>My List</h2>
      <% if (userTodoLists.length> 0) { %>
        <% for(let todoItem of userTodoLists) { %>
          <div class="everyTodo <%= todoItem.type %>">
            <table>
              <tr>
                <%if (todoItem.type==='to eat' ) { %>
                  <td class="icon">
                    <i class="fas fa-utensils"></i>
                  </td>
                    <% } %>
                <%if (todoItem.type==='to read' ) { %>
                  <td class="icon">
                    <i class="fas fa-book"></i>
                  </td>
                    <% } %>
                    <%if (todoItem.type==='to watch' ) { %>
                      <td class="icon">
                    <i class="fas fa-video"></i>
                  </td>
                    <% } %>
                    <%if (todoItem.type==='to shop' ) { %>
                      <td class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </td>
                    <% } %>
                <td id="todo-text">
                  <tag>
                    <%=todoItem.user_input %>
                  </tag>

                </td>
                <td>
                  <form method="POST" action="/users/<%= todoItem.user_id %>/<%= todoItem.todolist_id %>?_method=PUT"
                    id="changeCate">
                    <select class="btn btn-danger dropdown-toggle" name="categoryDropdown" class="categoryDropdown"
                      method="PUT">

                      <% for(let type of types) { %>
                        <option type="hidden" value="<%=type.id%>" id="<%=type.id%>">
                          <%=type.type%>
                        </option>
                        <% } %>
                    </select>
                    <button type="submit" class="button is-primary is-rounded"
                      style="margin-bottom:10px"><strong>Update</strong></button>
                  </form>
                </td>
                <td>
                  <form action="/users/<%= todoItem.user_id %>/todolist/<%= todoItem.todolist_id %>?_method=DELETE"
                    method="POST" class="delete-todo" id="<%= todoItem.todolist_id %>">
                    <button type="submit" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
          <% } %>
            <% } %>

    </div>
    <div class="right"></div>
      <div class="footer">
        <p>
        smartList created by Jessie Pei, Kiup Kim, Loman Fan @ 2021 LHL
      </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
